<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <style>
        .title {
            text-decoration: underline;
        }

        .title-bold {
            font-weight: bold;
        }

        .content {
            padding: 20px;
        }

        .justification {
            font-style: italic;
        }
    </style>
</head>
<body>
    <div class="title">
        <p><span class="title-bold">Leave Application:</span> {{startDatetime}} to {{endDatetime}}</p>
    </div>

    <div class="content">
        <p>Dear {{employeeName}},</p>

        <p>Your leave application for <span class="justification">"{{justification}}"</span> has been approved by your manager, {{managerName}}. Please check the leave application through the system.</p>

        <p>Thank you.</p>
    </div>
</body>
</html>